.secp-widget-preview-wrap {
	.secp-no-product {
		display: none;
	}

	&.no-product {
		.secp-no-product {
			display: inline;
		}
		.secp-preview-text {
			display: none;
		}
		.secp-widget-preview {
			display: none;
		}
	}
}

.secp-widget-preview {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	height: 290px;
}