Source: jmxtrans
Build-Depends: debhelper (>= 7), default-jdk, ant
Maintainer: Jon Stevens <latchkey@gmail.com>
Standards-Version: 3.9.1

Package: jmxtrans
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends}, java2-runtime
Recommends: python-yaml
Description: @FULL_VERSION@ - @PACKAGE@
 See http://jmxtrans.googlecode.com/ for more details.
